node_modules
.turbo/cache/68d8b12b4f0be82c-meta.json
.turbo/cache/68d8b12b4f0be82c.tar.zst
.gitignore
.gitignore
.gitignore
.turbo/cache/
.turbo/
apps/admin-portal/.env.production
apps/employee-portal/.env.production
apps/admin-portal/.env.development
apps/admin-portal/vite.config.ts
apps/admin-portal/vite.config.ts
Master_utf8.xml
Master.xml
Transactions_utf8.xml
Transactions.xml
TrialBal.xlsx
